<div class="loader">Loading&#8230;</div>
<div class='container'>
  <div class='row main'>
    <div class='col-lg-3 offset-lg-1 col-md-10 offset-md-1 exchange_box'>
      <div class='row'>
          <div class='col-md-8 offset-md-2 text-sm-center'>
            <%= image_tag '/logo.png', class: 'img-fluid'%>
          </div>
      </div>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "Moedas", root_path, id:"currency", class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Criptomoedas", exchanges_btc_index_path, id:"cripto", class:"nav-link" %>
        </li>
      </ul>

      <div class='row'>
        <%= render 'exchange_box' %>
      </div>
    </div>

    <div class='col-lg-7 offset-lg-1 hidden-sm-down title-box'>
      <div class='row'>
        <h2 class='subtitle'><span class="contrast">Converta</span> facilmente suas <span class="contrast">Moedas</span></h2>
      </div>
                
      <div class='row'>
        <h3 class='subtitle'>Para qualquer moeda no <span class="contrast">Mundo!</span></h3>
      </div>
    </div>
  </div>
</div>