@import "bootstrap/dist/css/bootstrap.css";
@import 'exchanges';
@import 'exchanges_btc';
@import '_exchange_box';
@import '_exchange_btc_box';
@import 'loader';

body {
  background: image-url("/background-img-1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contrast{
  font-size: 2.5rem;
}
.nav-item{
  width: 50%;
  text-align: center;
  background-color: lightgrey;
}